<loading-card [condition]="isLoading"></loading-card>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
    <h4 class="card-header">Account settings</h4>
    <div class="card-body">
        <form #accountForm="ngForm" (ngSubmit)="save(user)">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input class="form-control" type="text" name="name" [(ngModel)]="user.name" placeholder="Name"
                       required>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>
                <input class="form-control" type="email" name="email" [(ngModel)]="user.email"
                       placeholder="Email" required>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>
                <input class="form-control" type="number" name="postcode" [(ngModel)]="user.account.city.postcode"
                       placeholder="Postcode" required>
            </div>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>
                <input class="form-control" type="text" name="city" [(ngModel)]="user.account.city.name"
                       placeholder="City"
                       required>
            </div>
            <button class="btn btn-primary" type="submit" [disabled]="!accountForm.form.valid">
                <i class="fa fa-save"></i> Save
            </button>
        </form>
    </div>
</div>