<loading-card [condition]="isLoading"></loading-card>

<div class="card mb-3" *ngIf="!isLoading">
    <h4 class="card-header">Build Information</h4>
    <div class="card-body">
        <h4>Frontend</h4>
        <p>
            Commit: <a href="https://github.com/ReneHollander/ibex/commit/{{ frontendBuildInformation.githubSha }}">{{ frontendBuildInformation.githubSha }}</a><br>
            Ref: {{frontendBuildInformation.githubRef}}<br>
            Tag: <a href="https://github.com/ReneHollander/ibex/releases/tag/{{ frontendBuildInformation.githubTag }}">{{ frontendBuildInformation.githubTag }}</a><br>
            Run ID: <a href="https://github.com/ReneHollander/ibex/actions/runs/{{ frontendBuildInformation.githubRunId }}">{{ frontendBuildInformation.githubRunId }}</a><br>
            Run Number: {{ frontendBuildInformation.githubRunNumber }}<br>
        </p>
        <h4>Backend</h4>
        <p>
            Commit: <a href="https://github.com/ReneHollander/ibex/commit/{{ backendBuildInformation.githubSha }}">{{ backendBuildInformation.githubSha }}</a><br>
            Ref: {{backendBuildInformation.githubRef}}<br>
            Tag: <a href="https://github.com/ReneHollander/ibex/releases/tag/{{ backendBuildInformation.githubTag }}">{{ backendBuildInformation.githubTag }}</a><br>
            Run ID: <a href="https://github.com/ReneHollander/ibex/actions/runs/{{ backendBuildInformation.githubRunId }}">{{ backendBuildInformation.githubRunId }}</a><br>
            Run Number: {{ backendBuildInformation.githubRunNumber }}<br>
        </p>
    </div>
</div>
