<div class="card mb-3">
    <h4 class="card-header">Noch nicht bezahlte Lieferungen</h4>
    <div class="card-body">
        <loading [condition]="isLoadingPendingOrders"></loading>
        <table *ngIf="!isLoadingPendingOrders" class="table table-hover table-bordered mb-0">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Bestelldatum</th>
                <th scope="col">Lieferdatum</th>
                <th scope="col">Gesamtpreis</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of pendingOrders" (click)="onOrderClick(order)">
                <td>{{order.id}}</td>
                <td>{{order.orderTime | date:'dd.MM.yyyy'}}</td>
                <td>{{order.deliveryTime | date:'dd.MM.yyyy'}}</td>
                <td>{{order.priceTotal | currency:'EUR':'symbol':'1.2-2'}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3" style="text-align: right">Offener Betrag</td>
                <td>{{pendingOrdersTotal | currency:'EUR':'symbol':'1.2-2'}}</td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>


<div class="card mb-3">
    <h4 class="card-header">Rechnungen</h4>
    <div class="card-body">
        <loading [condition]="isLoadingInvoices"></loading>
        <table *ngIf="!isLoadingInvoices" class="table table-hover table-bordered mb-0">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Rechnungsdatum</th>
                <th scope="col">Summe</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let invoice of invoices" (click)="onInvoiceClick(invoice)">
                <td>{{invoice.id}}</td>
                <td>{{invoice.date | date:'dd.MM.yyyy'}}</td>
                <td>{{invoice.priceTotal | currency:'EUR':'symbol':'1.2-2'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
