<app-toast [message]="toast.message"></app-toast>

<table class="table table-hover table-bordered">
    <thead>
    <tr>
        <th scope="col">Produkt</th>
        <th scope="col" class="input-width">Menge</th>
        <th scope="col" class="min">Einzelpreis</th>
        <th scope="col" class="min">Gesamtpreis</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of recurringOrder.items"
        recurring-orders-row
        (onDelete)="onDeleteItem($event)"
        (onUpdate)="onUpdate($event)"
        [item]="item"></tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="2" align="right">
            <div class="input-group">
                <product-search placeholder="Produkt hinzufügen"
                                placeholderEmpty="Keine weiteren Produkte"
                                [products]="availableProducts"
                                [(ngModel)]="selectedProduct"></product-search>
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" (click)="addProductCancelButtonClick()">
                        <i class="fa fa-close"></i>
                    </button>
                    <button class="btn btn-success" type="button" (click)="addProductAddButtonClick()">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
        </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3" align="right">Liefergebühr</td>
        <td align="right">{{deliveryFee | currency:'EUR':'symbol':'1.2-2'}}</td>
        <td>

        </td>
    </tr>
    <tr>
        <td colspan="3" align="right">Gesamt</td>
        <td align="right">{{total | currency:'EUR':'symbol':'1.2-2'}}</td>
        <td>

        </td>
    </tr>
    </tfoot>
</table>

<div class="container footer-container">
    <div class="row">
        <div class="col-auto mr-auto ">
            <ngx-toggle
                    onColor="success"
                    offColor="danger"
                    [(value)]="recurringOrder.enabled">
                <ng-template ngxToggleLabel forLabel="off">Lieferung deaktiviert</ng-template>
                <ng-template ngxToggleLabel forLabel="on">
                    Lieferung aktiviert
                </ng-template>
            </ngx-toggle>
            <span *ngIf="recurringOrder.enabled">
                Zeitpunkt: vor {{recurringOrder.deliverySlot.deliverBy}} Uhr
            </span>
        </div>
        <div class="col-auto">
            <button class="btn btn-secondary" type="button" (click)="cancelButton()">
                <i class="fa fa-close"></i> Abbrechen
            </button>
            <button class="btn btn-success" type="button" [disabled]="saveButtonDisabled" (click)="saveButton()">
                <i class="fa fa-save"></i> Speichern
            </button>
        </div>
    </div>
</div>
