<loading-card [condition]="isLoading"></loading-card>

<div class="card mb-3" *ngIf="!isLoading">
    <h4 class="card-header">Bestellung #{{id}}</h4>
    <div class="card-body">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">Produkt</th>
                <th scope="col" class="input-width">Menge</th>
                <th scope="col" class="min">Einzelpreis</th>
                <th scope="col" class="min">Gesamtpreis</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of order.items">
                <td>{{item.product.name}}</td>
                <td align="right">{{item.amount}}</td>
                <td class="min" align="right">{{item.product.price | currency:'EUR':'symbol':'1.2-2'}}</td>
                <td class="min" align="right">{{item.product.price * item.amount | currency:'EUR':'symbol':'1.2-2'}}
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="3" align="right">Liefergebühr</td>
                <td align="right">{{order.priceShipping | currency:'EUR':'symbol':'1.2-2'}}</td>
            </tr>
            <tr>
                <td colspan="3" align="right">Gesamt</td>
                <td align="right">{{order.priceTotal | currency:'EUR':'symbol':'1.2-2'}}</td>
            </tr>
            </tfoot>
        </table>

    </div>
</div>
