<loading-card [condition]="isLoading"></loading-card>

<div class="card mb-3" *ngIf="!isLoading">
    <h4 class="card-header">Rechnung #{{invoice.id}}</h4>
    <div class="card-body">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Bestelldatum</th>
                <th scope="col">Lieferdatum</th>
                <th scope="col">Gesamtpreis</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let order of invoice.orders" (click)="onOrderClick(order)">
                <td>{{order.id}}</td>
                <td>{{order.orderTime | date:'dd.MM.yyyy'}}</td>
                <td>{{order.deliveryTime | date:'dd.MM.yyyy'}}</td>
                <td>TODO€</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
