<input type="text" class="form-control" [(ngModel)]="productModel" name="productName" placeholder="{{placeholder}}"
       [ngbTypeahead]="citySearch"
       [resultTemplate]="cityTemplate"
       [inputFormatter]="cityFormatter"
       (selectItem)="selectCity($event.item)"
       (focus)="focus$.next($event.target.value)"
       (click)="click$.next($event.target.value)"
       #instance="ngbTypeahead"
/>

<ng-template #cityTemplate let-r="result" let-t="term">
    {{r.postcode}} {{r.name}}
</ng-template>
