<input type="text" class="form-control"
       [(ngModel)]="productModel"
       [placeholder]="placeholder"
       [ngbTypeahead]="productSearch"
       [resultTemplate]="productTemplate"
       [inputFormatter]="productFormatter"
       (selectItem)="selectProduct($event.item)"
       (focus)="focus$.next($event.target.value)"
       (click)="click$.next($event.target.value)"
       [disabled]="disabled"
       #instance="ngbTypeahead"
/>

<ng-template #productTemplate let-r="result" let-t="term">
    {{r.name}}, {{r.price | currency:'EUR':'symbol':'1.2-2'}}
</ng-template>
