<app-loading [condition]="isLoading"></app-loading>

<div class="card mb-3" *ngIf="!isLoading">
    <h4 class="card-header">Recurring Orders</h4>

    <div class="card-body">
        <tabset [justified]="true">
            <tab *ngFor="let order of recurringOrders">
                <ng-template tabHeading>
                    {{order.deliverySlot.name}}
                </ng-template>
                <recurring-order [recurringOrder]="order"></recurring-order>
            </tab>
        </tabset>
    </div>
</div>

<!--<div class="card">-->
    <!--<h4 class="card-header">Add product</h4>-->
    <!--<div class="card-body">-->
        <!--<product-search></product-search>-->
    <!--</div>-->
<!--</div>-->
