<app-loading [condition]="isLoading"></app-loading>

<div class="card mb-3" *ngIf="!isLoading">
    <h4 class="card-header">Recurring Orders</h4>

    <div class="card-body">
        <tabset [justified]="true">
            <tab *ngFor="let order of recurringOrders">
                <ng-template tabHeading>
                    {{order.deliverySlot.name}}
                </ng-template>
                <recurring-order [recurringOrder]="order"></recurring-order>
            </tab>
        </tabset>
    </div>
</div>

<div class="card" *ngIf="!isEditing">
    <h4 class="card-header">Add product</h4>
    <div class="card-body">
        <form class="form-inline" (ngSubmit)="addProduct()">
            <input type="text" class="form-control" [(ngModel)]="productModel" name="productName"
                   [ngbTypeahead]="productSearch"
                   [resultTemplate]="productTemplate"
                   [inputFormatter]="productFormatter"
                   (focus)="focus$.next($event.target.value)"
                   (click)="click$.next($event.target.value)"
                   #instance="ngbTypeahead"
            />
            <button class="btn btn-primary" type="submit">
                <i class="fa fa-plus"></i>
                Add
            </button>
        </form>
    </div>
</div>

<ng-template #productTemplate let-r="result" let-t="term">
    {{r.name}}, {{r.price | currency:'EUR':'symbol':'1.2-2'}}
</ng-template>