<loading-card [condition]="isLoading"></loading-card>

<div class="card" *ngIf="!isLoading">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="form-group" [ngClass]="setClass(name)">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" formControlName="name" placeholder="Name">
            </div>
            <div class="form-group" [ngClass]="setClass(email)">
                <label for="email">E-Mail-Adresse</label>
                <input type="email" class="form-control" id="email" name="email" formControlName="email"
                       aria-describedby="emailHelp"
                       placeholder="E-Mail-Adresse">
                <small id="emailHelp" class="form-text text-muted">Sie erhalten nur Rechnungen über diese
                    E-Mail-Adresse,
                    keine Werbung.
                </small>
            </div>
            <div class="form-group" [ngClass]="setClass(password)">
                <label for="password">Passwort</label>
                <input type="password" class="form-control" id="password" name="password" formControlName="password"
                       placeholder="Password">
            </div>
            <div class="form-group" [ngClass]="setClass(passwordRepeat)">
                <label for="passwordRepeat">Passwort wiederholen</label>
                <input type="password" class="form-control" id="passwordRepeat" name="passwordRepeat"
                       formControlName="passwordRepeat" placeholder="Password wiederholen">
            </div>

            <div class="form-group" [ngClass]="setClass(address)">
                <label for="address">Adresse</label>
                <input type="text" class="form-control" id="address" name="address" formControlName="address"
                       placeholder="Adresse">
            </div>

            <div class="form-group" [ngClass]="setClass(city)">
                <label for="city">Stadt</label>
                <select class="form-control" id="city" name="city" formControlName="city">
                    <option selected value="" disabled>Stadt...</option>
                </select>
                <small id="cityHelp" class="form-text text-muted">
                    Lieferungen können nur in das Ortsgebiet des gewählten Ortes gelifert werden. Wenn Ihr Ort nicht
                    dabei ist, helfen Sie dabei ihn verfügbar zu machen indem Sie auf der Startseite abstimmen oder
                    kontaktieren Sie uns direkt.
                </small>
            </div>
            <div class="form-group" [ngClass]="setClass(deliveryNote)">
                <label for="deliveryNote">Hinweis für den Lieferanten</label>
                <textarea class="form-control" id="deliveryNote" name="deliveryNote" formControlName="deliveryNote"
                          rows="2"></textarea>
            </div>
            <div class="form-group" [ngClass]="setClass(accountName)">
                <label for="accountName">Kontoinhaber</label>
                <input type="text" class="form-control" id="accountName" name="accountName"
                       formControlName="accountName" placeholder="Kontoinhaber">
            </div>
            <div class="form-group" [ngClass]="setClass(iban)">
                <label for="iban">IBAN</label>
                <input type="text" class="form-control" id="iban" name="iban" formControlName="iban" placeholder="Name"
                       aria-describedby="ibanHelp">
                <small id="ibanHelp" class="form-text text-muted">
                    Mit der Eingabe Ihres IBANs sind Sie damit einverstanden, dass mit Monatsanfang der Rechnungsbetrag
                    des Vormonats eingezogen wird. Sobald dies Erfolgt, erhalten sie eine E-Mail.
                </small>
            </div>
            <div class="form-group" [ngClass]="setClass(phone)">
                <label for="phone">Telefon</label>
                <input type="tel" class="form-control" id="phone" name="phone" formControlName="phone"
                       placeholder="Telefon"
                       aria-describedby="phoneHelp">
                <small id="phoneHelp" class="form-text text-muted">
                    Sie werden nur im Falle von Problemen bei der Lieferung oder Rechnungsstellung kontaktiert.
                </small>
            </div>

            <button class="btn btn-primary" type="submit" [disabled]="!registerForm.valid"><i
                    class="icon-user-plus"></i> Register
            </button>
        </form>
    </div>
</div>