<div class="container">

    <nav class="navbar navbar-dark navbar-expand-md bg-faded justify-content-center bg-primary">
        <a routerLink="/" class="navbar-brand d-flex w-50 mr-auto">Bäckerei Hollander Bestellungen</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
            <ul class="navbar-nav mx-auto w-100 justify-content-center">
                <li class="nav-item" *ngIf="auth.isUser">
                    <a routerLink="/recurringorders" class="nav-link" routerLinkActive="active">
                        Bestellvorlagen
                    </a>
                </li>
                <li class="nav-item" *ngIf="auth.isUser">
                    <a routerLink="/invoices" class="nav-link" routerLinkActive="active">
                        Rechnungen
                    </a>
                </li>
                <li class="nav-item" *ngIf="auth.isAdmin">
                    <a routerLink="/admin/ordersummary" class="nav-link" routerLinkActive="active">
                        Bestellungen
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
                <li class="nav-item" *ngIf="!auth.isLoggedIn">
                    <a routerLink="/login" class="nav-link" routerLinkActive="active">
                        <i class="fa fa-sign-in"></i> Login
                    </a>
                </li>
                <li class="nav-item" *ngIf="!auth.isLoggedIn">
                    <a routerLink="/register" class="nav-link" routerLinkActive="active">
                        <i class="fa fa-user-plus"></i> Register
                    </a>
                </li>
                <li class="nav-item" *ngIf="auth.isLoggedIn">
                    <a routerLink="/account" class="nav-link" routerLinkActive="active">
                        <i class="fa fa-user"></i> Account ({{auth.user.name}})
                    </a>
                </li>
                <li class="nav-item" *ngIf="auth.isLoggedIn">
                    <a routerLink="/logout" class="nav-link" routerLinkActive="active">
                        <i class="fa fa-sign-out"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <router-outlet></router-outlet>

</div>
